# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# User-specific stuff
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.cproject
.settings/

# Flutter/Dart build & tool artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbol files
*.darttool

# Local Environment files
.env
.env*.local
